## Day 3

### Outline

- More control flow
- Dictionaries, Boolean
- Functions

### More control flow - conditional code execution


Perhaps the most well-known statement type is the if statement. For example:

In [19]:
l = [1, 5, 2, 89, 34, 56, 4]

for n in l:
    if n < 50:
        print(n)

1
5
2
34
4

### Dictionaries

Another useful data type built into Python is the dictionary (see Mapping Types â€” dict). Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys. 

It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.

In [22]:
d = {"Milky way": "galaxy", "Jupiter": "planet", "Sun": "star", "Betelgeuse": "star", 
     "Ceres": "asteroid", "Earth": "planet", "Andromeda": "galaxy", "Mars": "planet",
     "Venus": "planet"}
     
print(d)

{'Milky way': 'galaxy', 'Jupiter': 'planet', 'Sun': 'star', 'Betelgeuse': 'star', 'Ceres': 'asteroid', 'Earth': 'planet', 'Andromeda': 'galaxy', 'Mars': 'planet', 'Venus': 'planet'}

In [23]:
d.keys()

dict_keys(['Milky way', 'Jupiter', 'Sun', 'Betelgeuse', 'Ceres', 'Earth', 'Andromeda', 'Mars', 'Venus'])

In [24]:
d.values()

dict_values(['galaxy', 'planet', 'star', 'star', 'asteroid', 'planet', 'galaxy', 'planet', 'planet'])

**Exercise:**

Print the names of all galaxies in **d**.

- using a **for** loop
- using list comprehension

In [25]:
for k in d:
    if d[k] == "galaxy":
        print(k)

Milky way
Andromeda

In [26]:
[k for k in d if d[k]=='galaxy']

['Milky way', 'Andromeda']

Count the number of each astronomical object in our dictionary:

In [28]:
nplanet = 0
ngalaxy = 0
nasteroid = 0
for k in d:
    if d[k] == "planet":
        nplanet += 1
    elif d[k] == "galaxy":
        ngalaxy += 1
    elif d[k] == "asteroid":
        nasteroid += 1
    else:
        pass
    
print(f"Number of planets is {nplanet}")
print(f"Number o fgalaxies is {ngalaxy}")

print(f"Number of asteroids is {nasteroid}")

Number of planets is 4
Number o fgalaxies is 2
Number of asteroids is 1

#### Functions